<!DOCTYPE html>
{% extends 'dashboard/common/layout.html' %}
{% load static %}
{% block content %}
{% load i18n %}
    <link rel="stylesheet" href="{% static 'sankey-diagram/sankey-diagram.css' %}">
    {% include 'dashboard/common/header.html' %}
    {% include 'dashboard/common/sidebar.html' %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>{% trans 'Sankey-diagram' %}</h1>
            <ol class="breadcrumb">
                <li><a href="{% url 'index' %}"><i class="fa fa-tachometer-alt"></i> Home</a></li>
                <li class="active">{% trans 'sankey-diagram' %}</li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <h5>{% trans '回答集計結果' %}</h5>
            <!-- 保存ボタン -->
            <div>
                <select id="extention" class="extention" name="extention">
                    <option value="png">PNG</option>
                    <option value="jpg">JPEG</option>
                    <option value="pdf">PDF</option>
                </select>
                <button id="saveButton">{% trans '保存' %}</button>
            </div>

        <!-- SankeyDiagram表示 -->
        <div id="sankey" class="sankey">
        <svg height="700" style="background-color: white;"></svg>
        </div>
        </section>
    </div>
    {% include 'dashboard/common/footer.html' %}
    <!-- SankeyDiagramスクリプト -->
    <script src="https://d3js.org/d3.v4.js" charset="utf-8"></script>
    <script src="https://cdn.rawgit.com/eligrey/canvas-toBlob.js/f1a01896135ab378aa5c0118eadd81da55e698d8/canvas-toBlob.js"></script>
    <script src="https://cdn.rawgit.com/eligrey/FileSaver.js/e9d941381475b5df8b7d7691013401e171014e89/FileSaver.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.0/jspdf.debug.js" integrity="sha384-THVO/sM0mFD9h7dfSndI6TS0PgAGavwKvB5hAxRRvc0o9cPLohB0wb/PTA7LdUHs" crossorigin="anonymous"></script>
    <script src="{% static 'sankey-diagram/sankey-diagram-data-structure.js' %}" charset="utf-8"></script>
    <script src="{% static 'sankey-diagram/d3-sankey-diagram/d3-sankey-diagram.min.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'sankey-diagram/sankey-diagram.js' %}"></script>
{% endblock %}
