<!DOCTYPE html>
{% extends 'dashboard/common/layout.html' %}
{% load static %}
{% block content %}
{% load i18n %}
<link rel="stylesheet" href="{% static 'dashboard/css/sunburst.css' %}">
{% include 'dashboard/common/header.html' %}
{% include 'dashboard/common/sidebar.html' %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" id="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>{% trans 'sunburst' %}</h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'index' %}"><i class="fa fa-tachometer-alt"></i>{% trans 'ホーム'%}</a></li>
            <li class="active">{% trans 'sunburst' %}</li>
        </ol>
    </section>
    <!-- Main content -->
    <div id="svg_area"><svg id="partitionSVG" ></svg></div>
    <script src="{% static 'dashboard/js/libraries/d3.v5.min.js'%}"></script>
    <script src="{% static 'dashboard/js/bundle.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@observablehq/stdlib"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/sunburst.js' %}"></script>
</div>
{% include 'dashboard/common/footer.html' %}
{% endblock %}


